.container {
  --contentWidth: 920px;
  padding: 0 Max(2rem, 50vw - var(--contentWidth) / 2);
}

.container--large {
  --contentWidth: 1232px;
}

/* 
This file is not even used, the style above is hardcoded in template.hbs as <style> tag, sadly while the run works but the build fails if it's loaded. Probably something to do with webpack. */
